
body{
    
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: subpixel-antialiased;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: ivypresto-display, serif;
    font-size: 50px;
}

h3 {

}

.content {
    width: 50%;
    margin: auto;
    padding: 10px;
}

.banner {
    top: 0px;
    left: 0px;
    position: absolute;
}