
body{
    
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: subpixel-antialiased;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 1rem;
}

h1 {
    font-family: ivypresto-display, serif;
    font-size: 50px;
}

.home {
    width: 50%;
}