<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

h1 {
	text-align: left;
  font-family: sans-serif;
	text-decoration-color: black;
	font-size: 10px;
}

h2 {
  font-family: sans-serif;
	text-align: center;
}
body {
	font-size: 10px
	margin-top: 50px;
	padding: 30px 10;
	border: 10px solid black;
	border-style: dashed;
	text-align: center;
	background-color: white;
	font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L', fantasy;
	color: black;

		}
p{
	font-family: "Lucinda Sans Unicode", "Lucinda Grande", sans serif;
	color: black;
}
