

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* MENU & GENERAL */

p, li, div {
  font-family: 'Montserrat', sans-serif;
}

body { margin: 0; }

.background {
  top: 0;
  position: absolute;
  width:100%;
  height:auto;
  object-fit: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
  background-color: rgba(0, 0, 0, 0.5);
}

nav li { float: left; }

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
nav li a:hover:not(.active) { background-color: #111; }
.active { background-color: #ffc100; }

/* HOME */

.title p {
  padding: 2px;
  color: white;
  z-index: 1;
}

#SEEK {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top:100px;
  padding-left:  42%;
  font-size: 35px;
  font-family: 'Press Start 2P', sans-serif;
  z-index: 2;
}


#subtitle{
  padding-bottom: 5px;
  left: 44%;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#motto {
  top: 210px;
  margin-left: 36%;
}

#mon1 { position: absolute; left: 400px; top: 1100px; cursor:pointer; }

#mon2 { position: absolute; left: 1000px; top: 900px; cursor:pointer; }

#mon3 { position: absolute; left: 600px; top: 650px; cursor:pointer; }



/* LEARN */

#taxes { background-color: #FFFDF7; }

#money { background-color: #F8FBFE; }

#misc { background-color: #FFF9FF; }

.content { margin-top: 80px; }

.ed { padding: 30px 50px 30px 50px; margin-left: 100px; }

.topic { font-size: 40px; font-weight: 300px; }

.question {
  font-style: italic;
  font-weight: bold;
  margin: 25px 0 25px 0;
}

.content li { margin: 10px; }

#sidebar { margin-top: 50px;}

#sidebar li { float: none; }

#sidebar  ul {
margin-top: 90px;
padding: 0;
width: 100px;
background-color: transparent;
position: fixed;
height: 100%;
overflow: auto;
}

#sidebar li a {
color: #000;
padding: 10px 16px;
text-decoration: none;
border-right: solid 1px black;

}

#sidebar li a:hover { background-color: transparent; color: gray; }

/* GAME 1 */

.timer { position: fixed; left: 20%; margin-top:150px; color: white; z-index: 1; font-size: 20px;}

.question-set {
    width: 30%;
    position: fixed;
    left: 80px;
    top:200px;
    padding: 20px;
    display: none;
    color:white;
    background-color:rgba(0, 0, 0, 0.9);
  }

.testQ { text-align: center; }

.multi-choice h2 {font-family: 'Press Start 2P', sans-serif; opacity:1;}

.choice, #tax-defeat p {
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    color: white;
  }

.choice:hover { color: #E80C7A; }

#sprite {
  position: absolute;
  left: 40%;
  top: 30%;
  width:700px;
  height:700px;
}

#tax-defeat {
  width: 30%;
  position: fixed;
  left: 30%;
  top:200px;
  padding: 20px;
  display: none;
  color:white;
  background-color:rgba(0, 0, 0, 0.9);
  text-align:center;
}


/* GAME 2 */

canvas {
  top: 100px;
  border:1px solid #d3d3d3;
  background-color: lightblue;
}

.top-left {
  position: absolute;
  top: 30px;
  left: 320px;
  color: black;
  font-size: 40px;
	font-family: 'Press Start 2P';
}

.multi-choice-2 {
  position: absolute;
  top: 100px;
  left: 100px;
  color: black;
  font-size: 10px;
	font-family: 'Press Start 2P';
}

.question-set-2{
  display: none;
}

/* GAME 3 */

.image {
  padding-top:25px;
  width:10%;
  height:auto;
  object-fit: 100%;
}

#game3-text { text-align: center; margin-top: 100px; }

input { padding: 10px; }

#form1 { margin: 30px; font-size: 20px;}

#prompt { font-size: 30px; font-weight: 200px;}

#uniq { margin: 10px; }

.button {
  border: none;
  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover { background-color: #333; }
